:root {
  --primary-color: #2e2e2e;
  --secondary-color: #cfcece;
  --teritary-color: #f52a2a;
}

/* -- Navbar header -- */
* {
  z-index: inherit;
}

.navbar {
  z-index: 2;
}

.navbar-header {
  background-color: var(--primary-color);
}

.navbar-side-menu-icon {
  color: var(--teritary-color);
  background-color: var(--secondary-color);
}

.logo-link {
  margin: auto;
}

img {
  background-color: var(--secondary-color);
  -webkit-filter: invert(100%);
  /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

/* -- side nav --*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--secondary-color);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* -- footer -- */
.footer-copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}